<!-- headersection -->
<div class="headersection" role="banner">
  <span>Welcome to Kitchen Story</span><br>
</div>

<router-outlet></router-outlet>


<!-- Footer -->
<div class="footer" role="main">
  <footer>
    <div>
      <a href="https://www.flaticon.com/free-icon/shopping-cart-empty-side-view_34568" target="_blank" rel="noopener">
        (*) Shopping cart icon taken from this link (https://www.flaticon.com/free-icon/shopping-cart-empty-side-view_34568)
      </a>
    </div><br>
    <div>
      <p>Kitchen Story Co.</p>
      <p>92nd Avenue, 12987 South Northonland, Zanzolland</p>
      <p>Phone: +2983 482 128962124</p>
    </div>
  </footer>
</div>


